--post--
{
    "from" : "Admin",
    "to" : "ngodingbentar.official@gmail.com",
    "subject" : "Billing",
    "brand": "MyBrand",
    "name": "Ani",
    "nameOne" : "Buku",
    "priceOne" : 3000000,
    "nameTwo" : "Tas",
    "priceTwo" : 1000000,
    "nameThree" : "Sepatu",
    "priceThree" : 1500000
}